RewriteEngine On

RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?mod=product&controller=index&action=index
RewriteRule ^([a-zA-Z0-9_-]+)-([a-zA-Z0-9_-]+)$ index.php?mod=product&controller=index&action=index&page=$2
RewriteRule ^bai-viet.html$ index.php?mod=post&controller=index&action=index
RewriteRule ^bai-viet/.html$ index.php?mod=post&controller=index&action=detail
RewriteRule ^gioi-thieu.html$ index.php?mod=post&controller=index&action=about
RewriteRule ^lien-he.html$ index.php?mod=post&controller=index&action=category
RewriteRule ^danh-muc/([a-zA-Z0-9_-\~!@$%^&*()_+-]+)-([0-9]+).html$ index.php?mod=product&controller=index&action=category&id=$2&slug=$1
RewriteRule ^danh-muc/([a-zA-Z0-9_-]+)$ index.php?mod=product&controller=index&action=category&id=$2&slug=$1 
RewriteRule ^danh-muc/chi-tiet/([a-zA-Z0-9_-]+)-([0-9]+).html$ index.php?mod=product&controller=index&action=detail&id=$2&slug=$1

RewriteRule ^trang/([a-zA-Z0-9_-]+)-([0-9]+).html$ index.php?mod=post&controller=index&action=index
RewriteRule ^bai-viet/([a-zA-Z0-9_-]+)-([0-9]+).html$ index.php?mod=post&controller=index&action=detail&id=$2
RewriteRule ^cart/([a-zA-Z0-9_-]+)-([0-9]+).html$ index.php?mod=cart&controllers=index&action=add&id=$2&slug=$1
RewriteRule ^cart/([a-zA-Z0-9_-]+)/-([a-zA-Z0-9_-]+).html$ index.php?mod=cart&controllers=index&action=show&id=$2&slug=$1
RewriteRule ^([a-zA-Z0-9_-]+)-([a-zA-Z0-9_-]+).html$ index.php?mod=cart&controllers=index&action=$2&slug=$1